<div class="bg-white sticky-top justify-items-center ">
      <nav class="navbar navbar-dark navbar-expand-lg mx-6 bg-primary" >
        <a class="col-3 navbar-brand " href="/">
          Weather Forecast
        </a>

        <div class="d-none d-md-block col-6 collapse navbar-collapse">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll mx-auto" style="--bs-scroll-height: 100px;">

          </ul>
        </div>

        <div class="d-none d-md-block col-3 text-end">
            <form class="d-flex" role="search" action="/">
                <input class="form-control me-2" name="q" type="text" placeholder="E.g., New York, London,..." aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>

        <button class="d-md-none navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        
      </nav>
    </div>
